.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 32px;
}

.list {
  display: flex;
  flex-direction: column;
}

.loading,
.error,
.empty {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.loading {
  color: #657786;
}

.error {
  color: #e0245e;
}

.empty {
  color: #657786;
  font-style: italic;
}
